body {
    background-color: #e4f1f9;
}

.input-group-text {
    background-color: #d0eaff;
    font-weight: bolder;
}

.col-form-label {
    font-weight: bolder;
}

main {
    margin-top: 35px;
}

.red {
    color: red;
}

.email-label {
    margin: 0;
}

/* RTL START*/

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
}

.dropdown-item {
    text-align: right;
}

input.form-control {
    text-align: center;
}

.list-group {
    padding-right: 0;
}

.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text, .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.input-group>.form-control:not(:first-child), .input-group>.custom-select:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-nav {
    padding-left: initial;
    padding-right: 0;
}

.show .pull-right {
    float: left;
}

.file {
    position: relative;
    background: linear-gradient(to right, lightblue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
}

.file.done {
    background: lightgreen;
}

.file.error {
    background: rgb(255, 176, 139);
}

.file a {
    display: block;
    position: relative;
    padding: 5px;
    color: black;
}

.file .delete_attachment {
    float: right;
    padding: 5px 15px;
    background: #ffbf82;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* RTL END*/

.jumbotron {
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

div#preview {
    max-width: 100%;
}

div#preview img {
    width: 100%;
}

td.td_file_manager {
    max-width: 150px;
}

div#show-log {
    direction: ltr;
}

img#logo_img {
    max-height: 200px;
}

img#logo_img {
    height: 100px;
}

img.img-thumbnail.checklist-logo {
    display: none;
}

a.fa {
    font-weight: 100 !important;
}

#csv_month {
    position: relative;
    left: -48px;
    top: -43px;
    width: 90%;
}

#csv_month a {
    margin: 5px;
}

.left {
    position: absolute;
    left: 5px;
    margin-top: -36px;
}

a#edit_checklist {
    margin: 0 25px;
}

ul.pagination.right {
    float: right;
}

ul.pagination.left {
    float: left;
}

.num-link>a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

ul.pagination.left>a {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
}

.btn-block {
    width: max-content !important;
}

table {
    text-align: center;
}

table.table.files td {
    vertical-align: middle;
}

main {
    min-height: calc(100vh - 100px);
}

.footer {
    height: 50px;
    margin-top: 10vh;
}

div#show-log {
    max-width: max-content;
    position: fixed;
    bottom: 10px;
    right: 0;
    background: #e6e6e6;
    padding: 5px 5px;
    z-index: 9999;
}

#show-log-header {
    padding: 10px;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

div#show-log ul {
    overflow-y: auto;
    max-height: 300px;
}

button.close {
    margin-top: -15px;
    margin-left: -20px;
    background: white;
    padding: 10px;
}

.fa-user-plus, .fa-file-text {
    font-size: 30px;
}

.badge-info, .badge-danger {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

label.custom-file-label {
    text-align: start;
}

a.btn.btn-primary.folder {
    margin-right: 5px;
}

div#form-messages {
    right: 0;
    top: 69px;
    position: fixed;
    text-align: center;
    z-index: 1000;
    font-size: 1em;
}

.form-row.client-sign-form {
    position: fixed;
    top: 0;
    z-index: 999999;
    background: white;
}

.sing-image {
    width: 100%;
}

@media (min-width: 320px) {
    .badge-info, .badge-danger {
        font-size: 12px;
    }
    .mobile-hide {
        display: none;
    }
    .mobile-view {
        display: initial;
        line-height: 1em;
        font-size: 0.8em;
    }
    .table th, .table td {
        padding: 0.45rem;
    }
    .display-4, .display-3 {
        font-size: 2.5rem;
    }
    .th_serial {
        min-width: min-content;
    }
    .dropdown-item {
        line-height: 0.7em;
    }
}

@media (min-width: 991.98px) {
    .mobile-hide {
        display: table-cell;
    }
    .mobile-view {
        display: none;
    }
    .table th, .table td {
        padding: 0.45rem;
    }
    .display-4, .display-3 {
        font-size: 2.5rem;
    }
    .th_serial {
        min-width: max-content;
    }
    .card-columns .card {
        margin-bottom: 50px;
    }
}

@media (max-width: 1199.98px) {}

@media screen and (orientation:portrait) {}

@media screen and (orientation:landscape) {
    .video-frame {
        top: 0;
    }
}

/* DRAW ON CANVAS*/

#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}